version: '3'
services:
    backend:
        build: ./backend
        ports:
            - "5000:5000"
    frontend:
        build: ./frontend
        ports:
            - "80:80"
            - "443:433"
        depends_on:
            - backend
        