@use "./colours.scss" as *;

html {
    background-color: $background;
    color: $text;
    font-family: "meslolgs_nfregular";
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#main-view {
    margin-top: 10vh;
    h1 {
        margin-left: 15px;
        border-bottom: solid 2px $orange;
    }
}