.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
    height: 90vh;

    img {
        width: 30vh;
        height: auto;
    }
}