
.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
    height: 90vh;

    img {
        width: 30vh;
        height: auto;
    }
}

.spinner img {
    width: 30vh; /* Adjust the width as desired */
    height: 30vh; /* Adjust the height as desired */
    animation: spin 2s linear infinite;
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
