@use "./colours.scss" as *;

#search-box {
    display: flex;
    align-items: first baseline;
    // padding: 0 1rem 0 0;
}

#search-bar {
    color: $text;
    background-color: $background-darker;
    width: clamp(200px, 30vw, 60vw);
    font-size: 0.9rem;
    padding: 0.75rem 1.25rem;
    margin-right: 1rem;
    border: solid 1px $background-darker;
    border-radius: 5px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    resize: none;
    overflow-wrap: break-word;
    
    &:focus {
        outline: none;
    }
}


#submit-button {
    color: $text;
    background-color: $background-darkest;
    border: solid 1px $orange;
    padding: 0.5rem;
    text-decoration: none;

    &:hover {
        background-color: $orange;
        color: #000000;
        cursor: pointer;
    }
}
