@use "./colours.scss" as *;
@use "sass:color";

.todo-item {
    background-color: $background-darker;
    padding: 0.25rem 1rem;
    margin: 0.5rem;
    width: 40vh;

    border-left: solid 2px $orange;

    h3 {
        font-size: 1rem;
    }

    &:hover {
        background-color: color.scale($background-darker,$lightness: -10%);
        border-left: solid 2px color.scale($orange, $lightness: -10%);
        color: color.scale($text, $lightness: -15%);
        h3 {
            text-decoration-line: line-through;
        }
        cursor: pointer;
    }

    opacity: 0;
    animation: hidden-fade 1s;
    animation-fill-mode: forwards;

    @for $i from 1 through 30 {
        &:nth-child(#{$i}) {
            animation-delay: 200ms * $i;
        }
    }
}

@keyframes hidden-fade {
    from {
        opacity: 0;
        transform: translateY(5vh);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes expand-disappear {
    from {
        opacity: 1;
        transform: scale(0);
    }
    to {
        opacity: 0;
        transform: scale(1);
    }
}

.expand-disappear {
    animation: expand-disappear 1s;
    animation-fill-mode: forwards;
}

.time-estimate {
    font-size: 0.9rem;
}
